/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #f7d698;
    color: #ffffff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #8b5e3c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: 'Amsterdam', serif;
    font-size: 1.5em;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.logo img {
    height: 50px; 
    width: 100px;
}

nav {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.owners a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #faffd7;
    border-radius: 4px;
}

.upload-section {
    margin: 100px auto;
    width: 80%;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.image-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #8b5e3c;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .social a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
