 /* General Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Georgia', serif;
    background-color: #f7d698;
    color: #ffffff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
}
/* Header */
@font-face{
    src:url("needed-files/NewAmsterdam-Regular.ttf") ;
    font-family: Amsterdam ;
}
header {
    background-color: #8b5e3c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: Amsterdam;
    font-size: 1.5em;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.logo img {
    height: 50px; 
    width: 100px;
}

nav {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.owners {
    margin-right: auto;
}
.owners a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #faffd7;
    border-radius: 4px;
}

.users {
    margin-right: auto;
}
.users a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #faffd7;
    border-radius: 4px;
}


/* Footer */
footer {
    background-color: #8b5e3c;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .social a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.shirt-slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.shirt-slide {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    box-sizing: border-box;
}

.shirt-image {
    text-align: center;
    background-image: linear-gradient(-60deg,
                                     #ffffff00 0%,
                                     #ffffff00 40%,
                                     #ffffff44 40%,
                                     #ffffff44 60%,
                                     #ffffff00 60%,
                                     #ffffff00 100%);

    background-size: 200% 100%;
    background-position-x: 150%;
    transition: scale 0.5s;
}

.shirt-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: none;
    
}
.shirt-image a {
    text-decoration: none;
    color: inherit;
}
.shirt-image a p {
    text-decoration: none;
}

.shirt-image p {
    font-size: 30px;
    text-decoration: none;
    color: #333;
    margin: 0;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(39, 25, 18, 0.675);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem ;
    z-index: 1000;
    border-radius: 20px;


    background-image: linear-gradient(-60deg,
                                     #ffffff00 0%,
                                     #ffffff00 40%,
                                     #ffffff44 40%,
                                     #ffffff44 60%,
                                     #ffffff00 60%,
                                     #ffffff00 100%);

    background-size: 200% 100%;
    background-position-x: 150%;
    transition: scale 0.5s;


}

.prev:hover{
    animation: shimmer 1s forwards;
    scale: 1.1;
}
.next:hover{
    animation: shimmer 1s forwards;
    scale: 1.1;
}

.shirt-image:hover{
    animation: shimmer 1s forwards;
    scale: 1.1;
}

@keyframes shimmer{
    0%{
        background-position-x: 150%;
    }
    100%{
        background-position-x: -50%;
    }
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}
